In [1]:
from module import *

In [2]:
model = absenteeism_model('model', 'scaler')

In [3]:
model.load_and_clean_data('Absenteeism_new_data.csv')

In [27]:
df=model.predicted_outputs()

In [44]:
df

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.873365,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.266253,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.198570,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.720861,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.713817,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.567672,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.131870,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.519472,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.456496,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.348951,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.082994,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.166060,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.498300,0
18,0,0.0,0,1,6,291,40,25,0,1,1,0.389155,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.498884,0
20,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.514372,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.349483,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.243683,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.492733,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.259972,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.966856,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.912676,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.749877,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.019429,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.262871,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.064846,0

In [5]:
import pymysql

In [9]:
conn = pymysql.connect( 
        host='localhost', 
        user='root',  
        password = "root"
        )

In [11]:
cur = conn.cursor()

In [21]:
cur.execute('DROP DATABASE IF EXISTS predicted_outputs;')

1

In [22]:
cur.execute('CREATE DATABASE IF NOT EXISTS predicted_outputs')

1

In [23]:
cur.execute('USE predicted_outputs')

0

In [24]:
cur.execute('DROP TABLE IF EXISTS predicted_outputs')

0

In [25]:
cur.execute('CREATE TABLE predicted_outputs ( reason_1 BIT NOT NULL, reason_2 BIT NOT NULL, reason_3 BIT NOT NULL, reason_4 BIT NOT NULL, month_value INT NOT NULL, transportation_expense INT NOT NULL, age INT NOT NULL, body_mass_index INT NOT NULL, education BIT NOT NULL, children INT NOT NULL, pets INT NOT NULL, probability FLOAT NOT NULL, prediction BIT NOT NULL )')

0

In [26]:
cur.execute('select * from predicted_outputs')

0

In [31]:
for i in df.iterrows():
    print(i)

(0, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 6.000000
Transportation Expense    179.000000
Age                        30.000000
Body Mass Index            19.000000
Education                   1.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.122469
Prediction                  0.000000
Name: 0, dtype: float64)
(1, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 6.000000
Transportation Expense    361.000000
Age                        28.000000
Body Mass Index            27.000000
Education                   0.000000
Children                    1.000000
Pet                         4.000000
Probability                 0.873365
Prediction                  1.000000
Name: 1, dtype: float64)
(2, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 6.000000
Transportation Expense    155.000000
Age                        34.000000
Body Mass Index            25.000000
Education                   0.000000
Children                    2.000000
Pet                         0.000000
Probability                 0.266253
Prediction                  0.000000
Name: 2, dtype: float64)
(3, Reason_1                    0.00000
Reason_2                    0.00000
Reason_3                    0.00000
Reason_4                    1.00000
Month Value                 6.00000
Transportation Expense    179.00000
Age                        40.00000
Body Mass Index            22.00000
Education                   1.00000
Children                    2.00000
Pet                         0.00000
Probability                 0.19857
Prediction                  0.00000
Name: 3, dtype: float64)
(4, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 6.000000
Transportation Expense    155.000000
Age                        34.000000
Body Mass Index            25.000000
Education                   0.000000
Children                    2.000000
Pet                         0.000000
Probability                 0.720861
Prediction                  1.000000
Name: 4, dtype: float64)
(5, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 6.000000
Transportation Expense    225.000000
Age                        28.000000
Body Mass Index            24.000000
Education                   0.000000
Children                    1.000000
Pet                         2.000000
Probability                 0.713817
Prediction                  1.000000
Name: 5, dtype: float64)
(6, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 6.000000
Transportation Expense    118.000000
Age                        46.000000
Body Mass Index            25.000000
Education                   0.000000
Children                    2.000000
Pet                         0.000000
Probability                 0.567672
Prediction                  1.000000
Name: 6, dtype: float64)
(7, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 6.000000
Transportation Expense    179.000000
Age                        30.000000
Body Mass Index            19.000000
Education                   1.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.122469
Prediction                  0.000000
Name: 7, dtype: float64)
(8, Reason_1                    0.00000
Reason_2                    0.00000
Reason_3                    0.00000
Reason_4                    1.00000
Month Value                 6.00000
Transportation Expense    118.00000
Age                        37.00000
Body Mass Index            28.00000
Education                   0.00000
Children                    0.00000
Pet                         0.00000
Probability                 0.13187
Prediction                  0.00000
Name: 8, dtype: float64)
(9, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 6.000000
Transportation Expense    118.000000
Age                        37.000000
Body Mass Index            28.000000
Education                   0.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.519472
Prediction                  1.000000
Name: 9, dtype: float64)
(10, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 6.000000
Transportation Expense    378.000000
Age                        36.000000
Body Mass Index            21.000000
Education                   0.000000
Children                    2.000000
Pet                         4.000000
Probability                 0.456496
Prediction                  0.000000
Name: 10, dtype: float64)
(11, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    1.000000
Reason_4                    0.000000
Month Value                 6.000000
Transportation Expense    118.000000
Age                        50.000000
Body Mass Index            31.000000
Education                   0.000000
Children                    1.000000
Pet                         0.000000
Probability                 0.638528
Prediction                  1.000000
Name: 11, dtype: float64)
(12, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    1.000000
Reason_4                    0.000000
Month Value                 6.000000
Transportation Expense    233.000000
Age                        31.000000
Body Mass Index            21.000000
Education                   1.000000
Children                    1.000000
Pet                         8.000000
Probability                 0.348951
Prediction                  0.000000
Name: 12, dtype: float64)
(13, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 6.000000
Transportation Expense    179.000000
Age                        30.000000
Body Mass Index            19.000000
Education                   1.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.122469
Prediction                  0.000000
Name: 13, dtype: float64)
(14, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 6.000000
Transportation Expense    235.000000
Age                        48.000000
Body Mass Index            33.000000
Education                   0.000000
Children                    1.000000
Pet                         5.000000
Probability                 0.082994
Prediction                  0.000000
Name: 14, dtype: float64)
(15, Reason_1                    0.00000
Reason_2                    0.00000
Reason_3                    0.00000
Reason_4                    0.00000
Month Value                 6.00000
Transportation Expense    268.00000
Age                        33.00000
Body Mass Index            25.00000
Education                   1.00000
Children                    0.00000
Pet                         0.00000
Probability                 0.16606
Prediction                  0.00000
Name: 15, dtype: float64)
(16, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    1.000000
Reason_4                    0.000000
Month Value                 6.000000
Transportation Expense    118.000000
Age                        50.000000
Body Mass Index            31.000000
Education                   0.000000
Children                    1.000000
Pet                         0.000000
Probability                 0.638528
Prediction                  1.000000
Name: 16, dtype: float64)
(17, Reason_1                    1.0000
Reason_2                    0.0000
Reason_3                    0.0000
Reason_4                    0.0000
Month Value                 6.0000
Transportation Expense    179.0000
Age                        30.0000
Body Mass Index            19.0000
Education                   1.0000
Children                    0.0000
Pet                         0.0000
Probability                 0.4983
Prediction                  0.0000
Name: 17, dtype: float64)
(18, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 6.000000
Transportation Expense    291.000000
Age                        40.000000
Body Mass Index            25.000000
Education                   0.000000
Children                    1.000000
Pet                         1.000000
Probability                 0.389155
Prediction                  0.000000
Name: 18, dtype: float64)
(19, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    179.000000
Age                        30.000000
Body Mass Index            19.000000
Education                   1.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.498884
Prediction                  0.000000
Name: 19, dtype: float64)
(20, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 7.000000
Transportation Expense    118.000000
Age                        37.000000
Body Mass Index            28.000000
Education                   0.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.132138
Prediction                  0.000000
Name: 20, dtype: float64)
(21, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 7.000000
Transportation Expense    233.000000
Age                        31.000000
Body Mass Index            21.000000
Education                   1.000000
Children                    1.000000
Pet                         8.000000
Probability                 0.051939
Prediction                  0.000000
Name: 21, dtype: float64)
(22, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    118.000000
Age                        37.000000
Body Mass Index            28.000000
Education                   0.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.520056
Prediction                  1.000000
Name: 22, dtype: float64)
(23, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    118.000000
Age                        37.000000
Body Mass Index            28.000000
Education                   0.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.520056
Prediction                  1.000000
Name: 23, dtype: float64)
(24, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 7.000000
Transportation Expense    233.000000
Age                        31.000000
Body Mass Index            21.000000
Education                   1.000000
Children                    1.000000
Pet                         8.000000
Probability                 0.051939
Prediction                  0.000000
Name: 24, dtype: float64)
(25, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 7.000000
Transportation Expense    235.000000
Age                        43.000000
Body Mass Index            38.000000
Education                   0.000000
Children                    1.000000
Pet                         0.000000
Probability                 0.514372
Prediction                  1.000000
Name: 25, dtype: float64)
(26, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    1.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    233.000000
Age                        31.000000
Body Mass Index            21.000000
Education                   1.000000
Children                    1.000000
Pet                         8.000000
Probability                 0.349483
Prediction                  0.000000
Name: 26, dtype: float64)
(27, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    228.000000
Age                        58.000000
Body Mass Index            22.000000
Education                   0.000000
Children                    2.000000
Pet                         1.000000
Probability                 0.633413
Prediction                  1.000000
Name: 27, dtype: float64)
(28, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 7.000000
Transportation Expense    118.000000
Age                        37.000000
Body Mass Index            28.000000
Education                   0.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.132138
Prediction                  0.000000
Name: 28, dtype: float64)
(29, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    228.000000
Age                        58.000000
Body Mass Index            22.000000
Education                   0.000000
Children                    2.000000
Pet                         1.000000
Probability                 0.633413
Prediction                  1.000000
Name: 29, dtype: float64)
(30, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 7.000000
Transportation Expense    189.000000
Age                        33.000000
Body Mass Index            25.000000
Education                   0.000000
Children                    2.000000
Pet                         2.000000
Probability                 0.243683
Prediction                  0.000000
Name: 30, dtype: float64)
(31, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 7.000000
Transportation Expense    118.000000
Age                        37.000000
Body Mass Index            28.000000
Education                   0.000000
Children                    0.000000
Pet                         0.000000
Probability                 0.132138
Prediction                  0.000000
Name: 31, dtype: float64)
(32, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 7.000000
Transportation Expense    361.000000
Age                        28.000000
Body Mass Index            27.000000
Education                   0.000000
Children                    1.000000
Pet                         4.000000
Probability                 0.492733
Prediction                  0.000000
Name: 32, dtype: float64)
(33, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    1.000000
Month Value                 7.000000
Transportation Expense    225.000000
Age                        28.000000
Body Mass Index            24.000000
Education                   0.000000
Children                    1.000000
Pet                         2.000000
Probability                 0.259972
Prediction                  0.000000
Name: 33, dtype: float64)
(34, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    369.000000
Age                        31.000000
Body Mass Index            25.000000
Education                   0.000000
Children                    3.000000
Pet                         0.000000
Probability                 0.966856
Prediction                  1.000000
Name: 34, dtype: float64)
(35, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    289.000000
Age                        33.000000
Body Mass Index            30.000000
Education                   0.000000
Children                    2.000000
Pet                         1.000000
Probability                 0.912676
Prediction                  1.000000
Name: 35, dtype: float64)
(36, Reason_1                    1.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    235.000000
Age                        37.000000
Body Mass Index            29.000000
Education                   1.000000
Children                    1.000000
Pet                         1.000000
Probability                 0.749877
Prediction                  1.000000
Name: 36, dtype: float64)
(37, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    118.000000
Age                        40.000000
Body Mass Index            34.000000
Education                   0.000000
Children                    1.000000
Pet                         8.000000
Probability                 0.019429
Prediction                  0.000000
Name: 37, dtype: float64)
(38, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000
Reason_4                    0.000000
Month Value                 7.000000
Transportation Expense    231.000000
Age                        39.000000
Body Mass Index            35.000000
Education                   0.000000
Children                    2.000000
Pet                         2.000000
Probability                 0.262871
Prediction                  0.000000
Name: 38, dtype: float64)
(39, Reason_1                    0.000000
Reason_2                    0.000000
Reason_3                    0.000000

In [78]:
insert_query = ""

In [79]:
insert_query = 'INSERT INTO predicted_outputs VALUES '

In [80]:
insert_query

'INSERT INTO predicted_outputs VALUES '

In [81]:
df.shape

(40, 13)

In [82]:
for i in range(df.shape[0]):
    insert_query = insert_query + '('
    for j in range(df.shape[1]):
        insert_query = insert_query + str(df[df.columns.values[j]][i]) + ','

    insert_query = insert_query[:-1] + '), '

In [83]:
print(insert_query)

INSERT INTO predicted_outputs VALUES (0,0.0,0,1,6,179,30,19,1,0,0,0.12246899458484961,0), (1,0.0,0,0,6,361,28,27,0,1,4,0.8733647892013667,1), (0,0.0,0,1,6,155,34,25,0,2,0,0.26625344402537526,0), (0,0.0,0,1,6,179,40,22,1,2,0,0.19856972989117452,0), (1,0.0,0,0,6,155,34,25,0,2,0,0.720861214366515,1), (1,0.0,0,0,6,225,28,24,0,1,2,0.7138174390775355,1), (1,0.0,0,0,6,118,46,25,0,2,0,0.5676722878553722,1), (0,0.0,0,1,6,179,30,19,1,0,0,0.12246899458484961,0), (0,0.0,0,1,6,118,37,28,0,0,0,0.1318699319549076,0), (1,0.0,0,0,6,118,37,28,0,0,0,0.5194719164744748,1), (0,0.0,0,1,6,378,36,21,0,2,4,0.4564962181063228,0), (0,0.0,1,0,6,118,50,31,0,1,0,0.6385275591832166,1), (0,0.0,1,0,6,233,31,21,1,1,8,0.3489511421026246,0), (0,0.0,0,1,6,179,30,19,1,0,0,0.12246899458484961,0), (0,0.0,0,0,6,235,48,33,0,1,5,0.0829935270191011,0), (0,0.0,0,0,6,268,33,25,1,0,0,0.1660598655171444,0), (0,0.0,1,0,6,118,50,31,0,1,0,0.6385275591832166,1), (1,0.0,0,0,6,179,30,19,1,0,0,0.4982995464918476,0), (0,0.0,0,1,6,291,40,25,0,1,1,0.3891547048459086,0), (1,0.0,0,0,7,179,30,19,1,0,0,0.4988843125506078,0), (0,0.0,0,1,7,118,37,28,0,0,0,0.13213794143173108,0), (0,0.0,0,1,7,233,31,21,1,1,8,0.0519386156864001,0), (1,0.0,0,0,7,118,37,28,0,0,0,0.5200557735024183,1), (1,0.0,0,0,7,118,37,28,0,0,0,0.5200557735024183,1), (0,0.0,0,1,7,233,31,21,1,1,8,0.0519386156864001,0), (0,0.0,0,1,7,235,43,38,0,1,0,0.5143722492274688,1), (0,0.0,1,0,7,233,31,21,1,1,8,0.3494827324909506,0), (1,0.0,0,0,7,228,58,22,0,2,1,0.6334125701040939,1), (0,0.0,0,1,7,118,37,28,0,0,0,0.13213794143173108,0), (1,0.0,0,0,7,228,58,22,0,2,1,0.6334125701040939,1), (0,0.0,0,1,7,189,33,25,0,2,2,0.24368269010256938,0), (0,0.0,0,1,7,118,37,28,0,0,0,0.13213794143173108,0), (0,0.0,0,1,7,361,28,27,0,1,4,0.49273282566374954,0), (0,0.0,0,1,7,225,28,24,0,1,2,0.25997160132039987,0), (1,0.0,0,0,7,369,31,25,0,3,0,0.9668558205832096,1), (1,0.0,0,0,7,289,33,30,0,2,1,0.9126760303336535,1), (1,0.0,0,0,7,235,37,29,1,1,1,0.7498771686614673,1), (0,0.0,0,0,7,118,40,34,0,1,8,0.019428809679894455,0), (0,0.0,0,0,7,231,39,35,0,2,2,0.26287144339586255,0), (0,0.0,0,0,7,179,53,25,0,1,1,0.06484649016368708,0),

In [84]:
insert_query = insert_query[:-2] + ';'

In [85]:
print(insert_query)

INSERT INTO predicted_outputs VALUES (0,0.0,0,1,6,179,30,19,1,0,0,0.12246899458484961,0), (1,0.0,0,0,6,361,28,27,0,1,4,0.8733647892013667,1), (0,0.0,0,1,6,155,34,25,0,2,0,0.26625344402537526,0), (0,0.0,0,1,6,179,40,22,1,2,0,0.19856972989117452,0), (1,0.0,0,0,6,155,34,25,0,2,0,0.720861214366515,1), (1,0.0,0,0,6,225,28,24,0,1,2,0.7138174390775355,1), (1,0.0,0,0,6,118,46,25,0,2,0,0.5676722878553722,1), (0,0.0,0,1,6,179,30,19,1,0,0,0.12246899458484961,0), (0,0.0,0,1,6,118,37,28,0,0,0,0.1318699319549076,0), (1,0.0,0,0,6,118,37,28,0,0,0,0.5194719164744748,1), (0,0.0,0,1,6,378,36,21,0,2,4,0.4564962181063228,0), (0,0.0,1,0,6,118,50,31,0,1,0,0.6385275591832166,1), (0,0.0,1,0,6,233,31,21,1,1,8,0.3489511421026246,0), (0,0.0,0,1,6,179,30,19,1,0,0,0.12246899458484961,0), (0,0.0,0,0,6,235,48,33,0,1,5,0.0829935270191011,0), (0,0.0,0,0,6,268,33,25,1,0,0,0.1660598655171444,0), (0,0.0,1,0,6,118,50,31,0,1,0,0.6385275591832166,1), (1,0.0,0,0,6,179,30,19,1,0,0,0.4982995464918476,0), (0,0.0,0,1,6,291,40,25,0,1,1,0.3891547048459086,0), (1,0.0,0,0,7,179,30,19,1,0,0,0.4988843125506078,0), (0,0.0,0,1,7,118,37,28,0,0,0,0.13213794143173108,0), (0,0.0,0,1,7,233,31,21,1,1,8,0.0519386156864001,0), (1,0.0,0,0,7,118,37,28,0,0,0,0.5200557735024183,1), (1,0.0,0,0,7,118,37,28,0,0,0,0.5200557735024183,1), (0,0.0,0,1,7,233,31,21,1,1,8,0.0519386156864001,0), (0,0.0,0,1,7,235,43,38,0,1,0,0.5143722492274688,1), (0,0.0,1,0,7,233,31,21,1,1,8,0.3494827324909506,0), (1,0.0,0,0,7,228,58,22,0,2,1,0.6334125701040939,1), (0,0.0,0,1,7,118,37,28,0,0,0,0.13213794143173108,0), (1,0.0,0,0,7,228,58,22,0,2,1,0.6334125701040939,1), (0,0.0,0,1,7,189,33,25,0,2,2,0.24368269010256938,0), (0,0.0,0,1,7,118,37,28,0,0,0,0.13213794143173108,0), (0,0.0,0,1,7,361,28,27,0,1,4,0.49273282566374954,0), (0,0.0,0,1,7,225,28,24,0,1,2,0.25997160132039987,0), (1,0.0,0,0,7,369,31,25,0,3,0,0.9668558205832096,1), (1,0.0,0,0,7,289,33,30,0,2,1,0.9126760303336535,1), (1,0.0,0,0,7,235,37,29,1,1,1,0.7498771686614673,1), (0,0.0,0,0,7,118,40,34,0,1,8,0.019428809679894455,0), (0,0.0,0,0,7,231,39,35,0,2,2,0.26287144339586255,0), (0,0.0,0,0,7,179,53,25,0,1,1,0.06484649016368708,0);

In [86]:
cur.execute(insert_query)

40

In [88]:
conn.commit()

In [89]:
conn.close()